<% @page_title = "Create Section" %>

<%= link_to("<< Back to List", sections_path, class: 'back-link') %>

<div class="sections new">
  <h2>Create Section</h2>
  <!--Posting to the subjects_path creates a new object named create -->
  <%= form_for(@section) do |f| %>

    <%= render(partial: 'form', locals: { f: f }) %>

    <div class="form-buttons">
      <%= f.submit("Create Section") %>
    </div>

  <% end %>
</div>
